@model HomeworkUploadingBindingModel

<br />
<form method="post" enctype="multipart/form-data">
    <input asp-for="HomeworkFile">
    <br />
    <input type="submit" value="Upload" class="btn btn-success"/>
</form>

