@page "{id:int}"
@model EnrollModel
@{
}

<h1 class="text-center success"> You have sucessfully enrolled for course @Model.CourseInstance.Name </h1>

<br />
<a href="/Courses/All" class="btn btn-success"> Back</a>